<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zara.mapper.UserMapper">

    <select id="getUserList" resultType="userVO">
        SELECT * FROM table_user
    </select>

	<insert id="register" parameterType="userVO">
		insert into table_user
			(
				user_id,
				user_email,
				user_state,
				user_password,
				user_name,
				user_nick,
				user_address,
				user_phone,
				user_gender,
				user_birth,
				user_c_date
			)
			
		VALUES
			(
				#{userId},
				#{userEmail},
				'0',
				#{userPassword},
				#{userName},
				#{userNick},
				#{userAddress},
				#{userPhone},
				#{userGender},
				#{userBirth},
				now()
				
			
			)
	
	
	</insert>
	
	<select id="checkId" resultType="int">
		    SELECT count(*)
            FROM table_user 
            WHERE user_id = #{userId}
			AND  user_state = 0
			;
	</select>
	
	<select id="login" parameterType="string" resultType="userVO">
		SELECT *
		FROM TABLE_USER
		WHERE USER_ID = #{userId} and USER_PASSWORD = #{userPassword} and USER_STATE = '0'
		
	</select>
	
	<select id="findAccount" parameterType="userVO" resultType="string">
	
	
		<!--  찾기 유형이 아이디 일 때  -->
		<if test='findType.equals("id")'>
			select user_id
			from table_user
			where 
				user_name = #{userName}
				AND
				user_phone = #{userPhone}
		</if>
		
		<!--  찾기 유형이 비밀번호 일 때  -->
		<if test='findType.equals("password")'>
			select user_password
			from table_user
			where
				user_id = #{userId}
				AND
				user_name = #{userName}
				AND
				user_email = #{userEmail}
				
		
		</if>
	
	</select>
</mapper>